@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
html {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

body {
    width: 60vw;
    margin: auto;
}

#summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.summary-data {
    width: 30%;
    height: 90px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
}

.summary-data div {
    text-align: left;
    padding: 5px;
}

.summary-data div i {
    position: relative;
    top: 2px;
    margin-right: 5px;
    padding-left: 5px;
    font-size: 22px;
}

i.fa-syringe, div span.total-recovered-label, div span.new-recovered-label {
    color: rgb(93, 211, 69);
}

i.fa-skull-crossbones, div span.total-deaths-label, div span.new-deaths-label {
    color: rgb(207, 69, 69);
}

i.fa-virus, div span.total-confirmed-label, div span.new-confirmed-label {
    color: rgb(78, 125, 228);
}

.summary-data div span.label {
    width: 85%;
    font-size: 15px;
    font-weight: 600;
}

.summary-data span.count {
    font-size: 35px;
}

/* Main Table */

#main-table-section {
    margin-top: 20px;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin: auto;
}

th {
    text-align: center;
    height: 40px;
    border: 2px solid rgb(146, 146, 146);
    color: rgb(68, 68, 68);
    background-color: rgb(226, 226, 226);
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    width: 12.5%;
}

td {
    text-align: right;
    border: 1px solid rgb(182, 182, 182);
    padding: 10px;
    font-weight: 500;
}

td:first-child {
    text-align: left;
}

tbody tr th:first-child {
    width: 25%;
}

tr .chart {
    border: 1px solid rgb(182, 182, 182);
}