@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
html {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f4f1f9;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='26' viewBox='0 0 32 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 0v3.994C14 7.864 10.858 11 7 11c-3.866 0-7-3.138-7-7.006V0h2v4.005C2 6.765 4.24 9 7 9c2.756 0 5-2.236 5-4.995V0h2zm0 26v-5.994C14 16.138 10.866 13 7 13c-3.858 0-7 3.137-7 7.006V26h2v-6.005C2 17.235 4.244 15 7 15c2.76 0 5 2.236 5 4.995V26h2zm2-18.994C16 3.136 19.142 0 23 0c3.866 0 7 3.138 7 7.006v9.988C30 20.864 26.858 24 23 24c-3.866 0-7-3.138-7-7.006V7.006zm2-.01C18 4.235 20.244 2 23 2c2.76 0 5 2.236 5 4.995v10.01C28 19.765 25.756 22 23 22c-2.76 0-5-2.236-5-4.995V6.995z' fill='%23d6d6d6' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    width: 60vw;
    margin: auto;
}

#summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.summary-data {
    width: 30%;
    height: 90px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
}

.summary-data div {
    text-align: left;
    padding: 5px;
}

.summary-data div i {
    position: relative;
    top: 2px;
    margin-right: 5px;
    padding-left: 5px;
    font-size: 22px;
}

i.fa-syringe, div span.total-recovered-label, div span.new-recovered-label {
    color: rgb(93, 211, 69);
}

i.fa-skull-crossbones, div span.total-deaths-label, div span.new-deaths-label {
    color: rgb(207, 69, 69);
}

i.fa-virus, div span.total-confirmed-label, div span.new-confirmed-label {
    color: rgb(78, 125, 228);
}

.summary-data div span.label {
    width: 85%;
    font-size: 15px;
    font-weight: 600;
}

.summary-data span.count {
    font-size: 35px;
}

/* Main Table */

#main-table-section {
    background-color: #f4f1f9;
    margin-top: 20px;
}

.main-table-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 100%;
    border: 1px solid rgb(182, 182, 182);
    color: rgb(68, 68, 68);
    background-color: rgb(226, 226, 226);
    padding: 5px;
    height: 40px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

.main-table-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-table-cell {
    flex: 1 1 100%;
    height: 40px;
    line-height: 40px;
    padding: 5px;
    border: 1px solid rgb(182, 182, 182);
    text-align: right;
    font-weight: 500;
    font-size: 14px;
}

.main-table-row:nth-child(1)>.main-table-header:nth-child(1) {
    flex-basis: 200%;
}

.main-table-cell:nth-child(1):not([class="chart"]) {
    flex-basis: 200%;
    text-align: left;
    color: rgb(78, 125, 228);
}

.main-table-cell:first-child:not([class="chart"]):hover {
    cursor: pointer;
    background-color: rgb(78, 125, 228);
    color: #fff;
}

.chart {
    padding: 10px;
    border: 1px solid rgb(182, 182, 182);
}

/* Date time picker */

.picker {
    padding: 10px;
    outline: none;
    cursor: pointer;
    border-radius: 25px;
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
}